node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store
.turbo
.cache
.vite
dist/public/assets/*.map
dist/public/assets/*.LICENSE.txt
**/.DS_Store
**/Thumbs.db
.git
.gitignore
attached_assets
fix-errors.sh
replit.md


